<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Playfair+Display:400" rel="stylesheet">
    <link rel="icon" href="logo.png">
    <title>Navodaya Arogya Kendra</title>
</head>
<body>
    <style>
        *{
         overflow-x: hidden;
         padding: 0;
         margin: 0;
            }
        
        nav{
         height: 12vh;
         width: 100vw;
         position: fixed;
         z-index: 1;
         background-color:#f1f2f6;
        }
        .nav-adjuster{
            height: 7vh;
            width: 100vw;
            padding-top: 2.5vh;
            font-weight: 900;
            font-family: 'Playfair Display', serif;
        }
        .hamburger{
            margin-left:6vw;
            margin-right: 27vw;
                 }
                 
        .hamburger1 {
            margin-left: 2vw;
            margin-right: 3vw;
        }
        .logo-main{
            font-size: 2em; 
        }
        
           
       
        .hamburgerIcon{
                height: 3vh;
                width: 8vw;
        }
        .side-bar{
            position: fixed;
            display:block;
            height:100vh;
            width:0;
            z-index: 3;
            background-color: #f1f2f6;
            transition: width 0.5s;
            box-shadow:1px 1px 10px grey;
        }
        .side-bar-header{
            font-size:2rem;
            font-style:bold;
        }
        .open-side-bar{
            width:58vw;
        }
        li a{
            text-decoration: none;
            list-style-type: none;
        }

       .side-bar-back{
           padding: 1rem;
           font-size: 1.75rem;
       }
       .side-bar-text{
           display: inline-block;
       }
       .section-title{
        font-size: 2.5rem;
        margin: o auto;
        padding-bottom: 1rem;
        letter-spacing: 2px;
        border-bottom: dashed #f1f2f6;   
        font-weight: 400;   
        text-align: center;
        font-family: 'Playfair Display', serif;   
       }
       ul{
            list-style-type: none;
            text-align:center;
        }
        ul li{
            padding:1rem;
        }
        a{
            text-decoration: none;
        }
       .side-bar hr{
           border-style:ridge;
       } 
       .side-bar-back{
           padding: 1rem;
           font-size: 1.75rem;
           text-align:center;
       }
       .side-bar-text{
           display: inline-block;
           font-size:1.3rem;
           color:black;
           position:inherit;
           font-family: 'Playfair Display', serif;
       }
       .bottom-side-bar{
           bottom:0;
       }
       .whole-body{
        position: fixed;
        height: 100vh;
        width: 100vw;
        opacity: 0;
        background-color: black;
        transition: 1s opacity;
       }
       .div-section{
        padding-top: 2rem;
        margin-top: 10vh;
        width:100vw; 
       }
       .video-container{
           height:30vh;
           width:80vw;
           padding-left:5vh;
           padding-top:5vh;
       }
       iframe{
           top:0;
           left: 0;
           right:0;
           bottom:0;
           height: 30vh;
           width: 80vw;
       }
       .vid-title{
        padding-top: 3rem;
        padding-top: 3rem;
        text-align: center;
        padding-left: 06px;
        padding-right: 06px;
        padding-bottom: 1rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 2rem;
}
    .vid-caption{
        letter-spacing: 0.4px;
        line-height: 1.3rem;
        padding-top: 3rem;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        font-family: 'Lato', sans-serif;
        font-weight: 300; 
    }
    .whole-body{
        position: fixed;
        height: 100vh;
        width: 100vw;
        opacity: 0;
        background-color: black;
        transition: 1s opacity;
    }
    @media only screen and (min-width:500px){
        iframe{
            height: 63vh;
        }
        .video-container{
            height: 65vh;
            margin-left: 7%;
        }
        .hamburger {
    margin-right: 31.5vw;
}
    }
    </style>
   
   <div class="side-bar">
        <div class="side-bar-back">
        <span class="side-bar-header"> MENU </span>    
        <hr>
    </div> 
       
        <ul>       <li> <a class="side-bar-text hamburger1">Back</a> <hr> </li>
            <li> <a class="side-bar-text" href="\#doctors">Doctors</a> <hr> </li>
            <li> <a class="side-bar-text" href="\#facilities" >Facilities</a> <hr> </li>
            <li> <a class="side-bar-text" href="\#pharmacy" >Pharmacy</a> <hr> </li>
            <li> <a class="side-bar-text" href="\photo_gallery" >Photo Gallery</a> <hr> </li>
            <li> <a class="side-bar-text"  href="tel:080-27524842">Contact</a> <hr> </li>
        </ul>
    </div>
<nav>
        <div class="nav-adjuster">
        <span class="hamburger">￼
                <img class = "hamburgerIcon" src="Asset 1.svg" alt="menu">
        </span>
        <span class="logo-main">NAK.</span>    
    </nav>
    <div class="div-section">  
        <div class="section-title">Video Gallery</div>   
         </div>
         <div class="vid-title">
            Dr. Chetan Temker addressing the media after a successful surgery
         </div>
  <div class="video-container">
         <iframe src="https://www.youtube.com/embed/rrYhWXuVpBY" frameborder="0" 
         allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
     <div class="vid-caption"> Dr. Chetan Temker addressing the media after a successful surgery of patient Lakshman. 
            Navodaya Arogya Clinic is located in Kanakapura and is a well-equipped hospital. 
            Website: http://navodayaarogyakendra.com
            Address: Navodaya Arogya Kendra, Mahatma Gandhi Rd ‌‌‌, 
                             MG Complex, Kanakapura, Karnataka 562117    
    </div>

    <div class="vid-title">
        Dr. Chetan Temker explaining the condition of patient Lakshman
    </div>
    <div class="video-container">
            <iframe src="https://www.youtube.com/embed/PT78ChXtCoU"
             frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="vid-caption">
            Dr. Chetan Temker explaining the condition and the approach of medication to operate patient Lakshman.
            Navodaya Arogya Clinic is located in Kanakapura and is a well-equipped hospital. 
            Website: http://navodayaarogyakendra.com
            Address: Navodaya Arogya Kendra, Mahatma Gandhi Rd ‌‌‌, 
                             MG Complex, Kanakapura, Karnataka 562117
    </div>

    <script>
        var menuButton = document.getElementsByClassName("hamburger")[0];
        var sideBar = document.getElementsByClassName("side-bar")[0];
        var sideBarBack = document.getElementsByClassName("hamburger1")[0];
       menuButton.addEventListener('click',function(){
            // sideBar.classList.add('open-side-bar');
        if(window.screen.width<=500){
                sideBar.style.width = '58vw';}
            else
            {
                sideBar.style.width = '18vw'}
            });
    
        sideBarBack.addEventListener('click',function(){
            // sideBar.classList.add('open-side-bar');
            sideBar.style.width = '0vw';
         });
         document.getElementsByClassName("logo-main")[0].addEventListener("click",function(){
            window.location = "/";
     });
       </script>
</body>
</html>